@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|Markazi+Text|Oswald:400');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 1.6em;
}

.App {
  width: 65%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

#title {
  flex: 3;
  display: flex;
  align-items: center;
}

#title h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
  font-weight: 400;
}

nav {
  flex: 2;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding-left: 12px;
  flex-wrap: wrap;
}

li {
  margin: 0px 12px 0 12px;
}

li div {
  position: relative;
}

li div p {
  padding: 6px 0 6px 0;
}

li div p:after {
  content: "";
  position: absolute;
  left:0;
  top: 100%;
  width: 0;
  height: 3px;
  background-color: #2BBFBD;
  transition: width .2s ease-in-out;
}

#projects:hover, #contact:hover {
  cursor: pointer;
}

#projects:hover:after, #contact:hover:after {
  width: 100%;
}

.about {
  display: flex;
  align-items: center;
  margin: 192px auto;
}

.about h1 {
  font-family: 'Markazi Text', serif;
  font-size: 2.4em;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-text {
  margin-bottom: 96px;
}

#projects-text::after, #contact-text::after {
  display: block;
  margin: 0 auto;
  content: "";
  margin-top: 30px;
  border: 4px solid #2BBFBD;
  width: 60%;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  margin: 144px 0 24px 0;
}

i {
  padding: 0 12px 0 12px;
}

@media only screen and (max-width: 813px) {
  .App {
    width: 85%;
  }

  .about {
    margin: 112px auto;
  }

  #projects-text {
    margin-bottom: 56px;
  }
}

@media only screen and (max-width: 675px) {
  #title h1 {
    font-size: 2.5em;
  }

  .about h1 {
    font-size: 2em;
  }
}