@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:300,400,600');

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
}

p {
  font-size: 1em;
}

h1 {
  font-size: 1.6em;
}

.App {
  width: 65%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

#title {
  flex-grow: 1;
  font-size: 2.2em;
  font-weight: 600;
}

nav {
  flex-grow: 2;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  padding-left: 14px;
  flex-wrap: wrap;
}

li p {
  padding: 0px 12px 0 12px;
}

@media only screen and (max-width: 475px) {
  li p {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

#projects:hover, #contact:hover {
	color: #635F6B !important;
	cursor: pointer;
}

.about {
  display: flex;
  align-items: center;
  margin: 20% auto;
}

@media only screen and (max-width: 813px) {
  .App {
    width: 85%;
  }

  .about {
    margin: 112px auto;
  }
}

.about h1 {
  font-family: 'Roboto Slab', serif;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#projects-text {
  margin-bottom: 35px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: center;
  margin: 144px 0 24px 0;
}

i {
  padding: 0 12px 0 12px;
}
